<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- 경고창 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <!-- 부트스트랩 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POSTIT</title>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include("nav") %>

    <div class="backColor">
      <div class="topContainer">
        <div class="carosel">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="logo">
            <img src="/static/images/postitLogo.png" alt="postit logo" />
            <div class="write" onclick="moveWrite('write')">글 작성하기</div>
          </div>
        </div>

        <div class="categorys">
          <div class="category">
            <div class="imgContainer" onclick="moveToCategory(1)">
              <img src="/static/images/category1.jpg" alt="trip image" />
              <div class="overlay"></div>
              <div class="text">
                <h4>
                  Travel Reviews <br />
                  & <br />
                  Information
                </h4>
              </div>
            </div>
          </div>
          <div class="category">
            <div class="imgContainer" onclick="moveToCategory(2)">
              <img src="/static/images/category2.jpg" alt="trip image" />
              <div class="overlay"></div>
              <div class="text">
                <h4>
                  Accommodation <br />
                  Information
                </h4>
              </div>
            </div>
          </div>
          <div class="category">
            <div class="imgContainer" onclick="moveToCategory(3)">
              <img src="/static/images/category3.jpg" alt="trip image" />
              <div class="overlay"></div>
              <div class="text">
                <h4>Restaurant & Cafe</h4>
              </div>
            </div>
          </div>
          <div class="category">
            <div class="imgContainer" onclick="moveToCategory(4)">
              <img src="/static/images/category4.jpg" alt="trip image" />
              <div class="overlay"></div>
              <div class="text">
                <h4>Free Bulletin Board</h4>
              </div>
            </div>
          </div>
          <div class="category">
            <div class="imgContainer" onclick="moveToCategory(5)">
              <img src="/static/images/category5.jpg" alt="trip image" />
              <div class="overlay"></div>
              <div class="text">
                <h4>Photo Gallery</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mainContainer">
        <h1>Recent Post</h1>
        <div class="postsBox">
          <% for (let i = 0; i < 5; i++) { %>
          <div class="postContainer">
            <div class="post-card">
              <img
                src="<%= posts[i].image_url %>"
                alt="Post Image"
                class="post-image"
                onclick="moveToPost('<%= posts[i].id %>')"
                data-id="<%= posts[i].id %>"
              />
              <div class="post-info">
                <div
                  class="favoriteIcon"
                  onclick="heart(event)"
                  data-fav="<%= posts[i].favorite ? '1' : '0' %>"
                  data-id="<%= posts[i].id %>"
                >
                  <img
                    src="<%= posts[i].favorite ? '../static/images/favoriteFillIcon.png' : '../static/images/favoriteIcon.png' %>"
                  />
                </div>
                <%= posts[i].like_count %>
              </div>
            </div>
            <div class="contentBox" onclick="moveToPost('<%= posts[i].id %>')">
              <h5><%= posts[i].title.substring(0, 10) %></h5>
              <hr />
              <p><%= posts[i].content.substring(0, 30) %>...</p>
            </div>
          </div>
          <% } %>
        </div>

        <div class="allPostsBox">
          <% for (let i = 0; i < posts.length; i++) { %>
          <div class="allPostContainer">
            <div class="all-post-card">
              <div class="allContentBox">
                <div class="textBox" onclick="moveToPost('<%= posts[i].id %>')">
                  <h5><%= posts[i].title.substring(0, 20) %></h5>

                  <p>
                    🕒 작성일: <%= new
                    Date(posts[i].createdAt).toLocaleDateString() %>
                  </p>

                  <p><%= posts[i].content.substring(0, 50) %>...</p>
                </div>

                <div class="favoriteContainer">
                  <div
                    class="favoriteIcon"
                    onclick="heart(event)"
                    data-fav="<%= posts[i].favorite ? '1' : '0' %>"
                    data-id="<%= posts[i].id %>"
                  >
                    <img
                      src="<%= posts[i].favorite ? '../static/images/favoriteFillIcon.png' : '../static/images/favoriteIcon.png' %>"
                    />
                  </div>
                  <%= posts[i].like_count %>
                </div>
              </div>
              <img
                src="<%= posts[i].image_url %>"
                alt="Post Image"
                class="post-image"
                onclick="moveToPost('<%= posts[i].id %>')"
                data-id="<%= posts[i].id %>"
              />
            </div>
          </div>
          <% } %>
        </div>
      </div>

      <%- include("footer") %>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
