<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/static/css/postDetail.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
  </head>
  <body>
    <%- include("nav") %>
    <div class="allContainer">
      <div class="carosel">
        <div class="caroselContainer">
          <img
            class="caroselImg"
            src="/static/images/mainCarosel.jpg"
            alt="carosel image"
          />
          <div class="overlay"></div>
        </div>
      </div>

      <div class="detailContainer">
        <div class="detailBox">
          <% if (modifiedPost.image_url) { %>
          <img
            class="modifiedPost-image"
            src="<%= modifiedPost.image_url %>"
            alt="게시글 이미지"
          />
          <% } %>
          <div class="profileContainer">
            <div class="topContainer">
              <p></p>
              <!-- 카테고리 이름 가져오기 -->
              <h1><%= modifiedPost.title %></h1>
              <div class="profile">
                <div class="userInfo">
                  <img src="" alt="profile image" />
                  <!-- 포스터 유저 이미지 넣기 -->
                  <div class="flexColumn">
                    <p class="nameText">dd</p>
                    <!-- 포스터 유저 이름 넣기 -->
                    <p>
                      🕒 작성일: <%= new
                      Date(modifiedPost.createdAt).toLocaleDateString() %>
                    </p>
                  </div>
                </div>
                <div
                  class="post-actions"
                  data-current-user-id="<%= currentUserId %>"
                  data-post-id="<%= postId %>"
                >
                  <button class="edit-btn">수정</button>
                  <button class="delete-btn">삭제</button>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="textContainer">
            <div class="post-content">
              <p><%- modifiedPost.content %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/postDetail.js"></script>
  </body>
</html>
